TAGS
web-pages
ogwanda
misc
gbank/gbank
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
configure
env
pre-inst-env
gbank-*.tar.gz
gbank-*.tar.gz.sig
Makefile
Makefile.in
meta/guild
doc/version.texi
doc/stamp-vti
doc/gbank.t2p
*~
*.aux
*.cp
*.cps
*.fn
*.fns
*.ky
*.log
*.pg
*.toc
*.tp
*.vr
*.vrs
*.html
*.info
*.pdf
*.go
