TAGS
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
configure
pre-inst-env
g-golf-*.tar.gz
g-golf-*.tar.gz.sig
Makefile
Makefile.in
meta/guild
meta/g-golf-1.0.pc
doc/version.texi
doc/stamp-vti
doc/g-golf.t2p
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
libg-golf/.deps/
libg-golf/.libs/
libg-golf/libg-golf.la
libg-golf/libg-golf.lo
libg-golf/libguile_cv_la-libg-golf.lo
*~
*.aux
*.cp
*.cps
*.fn
*.fns
*.ky
*.log
*.pg
*.toc
*.tp
*.vr
*.vrs
*.html
*.info
*.pdf
*.go
