TAGS
web-pages
ogwanda
misc
g-golf/g-golf
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
configure
env
pre-inst-env
g-golf-*.tar.gz
g-golf-*.tar.gz.sig
Makefile
Makefile.in
meta/guild
meta/g-golf-1.0.pc
doc/version.texi
doc/stamp-vti
doc/g-golf.t2p
*~
*.aux
*.cp
*.cps
*.fn
*.fns
*.ky
*.log
*.pg
*.toc
*.tp
*.vr
*.vrs
*.html
*.info
*.pdf
*.go
